<html>
  <body>
    <h1>Reset Your Password</h1>
    <p>Hello, {{name}}</p>
    <p>You requested a password reset. Please click the link below to reset your
      password:</p>
    <a href='{{resetUrl}}'>Reset Password</a>
    <p>If you did not request this, please ignore this email.</p>

    <h2>Reset token:</h2>
    <h3>{{resetToken}}</h3>

    <p>Token expires in 1 hour</p>
    <!-- Add the image -->
    <div style='text-align: center; margin-top: 20px;'>
      <img
        src='https://upload.wikimedia.org/wikipedia/en/c/cb/Monkey_D_Luffy.png'
        alt='Monkey D. Luffy'
        style='max-width: 200px;'
      />
    </div>
  </body>
</html>